.compositore {
    text-align: center;
}
.nome {
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(28, 28, 28);
}
h1 {
    color: white;
}
h2 {
    color: white;
}
p {
    color: white;
}
.vinyil {
	height: 100px;
	width: 100px;
	position: absolute;
	right: 100px;
	top: 10px;
}